snippet def "define variable"
(define ${1:symbol} ${2:expression})
endsnippet
snippet (def "define variable"
(define ${1:symbol} ${2:expression}
endsnippet

snippet defn "define function"
(define (${1:function} ${2:args})
  ${3:body})
endsnippet
snippet (defn "define function"
(define (${1:function} ${2:args})
  ${3:body}
endsnippet

snippet lam "lambda"
(lambda (${1:args})
  ${2:body})
endsnippet
snippet (lam "lambda"
(lambda (${1:args})
  ${2:body}
endsnippet
